@using ChartJSCore.Models;

@{
    ViewData["Title"] = "Index";

    Chart verticalBarChart = (Chart)ViewData["VerticalBarChart"];
    Chart horizontalBarChart = (Chart)ViewData["HorizontalBarChart"];
    Chart lineChart = (Chart)ViewData["LineChart"];
    Chart lineScatterChart = (Chart)ViewData["LineScatterChart"];
    Chart floatingBarChart = (Chart)ViewData["FloatingBarChart"];
    Chart radarChart = (Chart)ViewData["RadarChart"];
    Chart polarChart = (Chart)ViewData["PolarChart"];
    Chart pieChart = (Chart)ViewData["PieChart"];
    Chart liveLineChart = (Chart)ViewData["LineChart"];
    Chart nestedDoughnutChart = (Chart)ViewData["NestedDoughnutChart"];
}

@section Head {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js" integrity="sha512-klQv6lz2YR+MecyFYMFRuU2eAl8IPRo6zHnsc9n142TJuJHS8CG0ix4Oq9na9ceeg1u5EkBfZsFcV3U7J51iew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}

<h2>Charts</h2>

<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Vertical Bar Chart</h5>
            <canvas id="verticalBarChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/master/bitScry/Controllers/Projects/ChartController.cs" class="btn btn-primary">View Code</a>
        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Horizontal Bar Chart</h5>
            <canvas id="horizontalBarChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/master/bitScry/Controllers/Projects/ChartController.cs" class="btn btn-primary">View Code</a>
        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Line Chart with Zoom</h5>
            <canvas id="lineChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/master/bitScry/Controllers/Projects/ChartController.cs" class="btn btn-primary">View Code</a>
        </div>
        <div>Use alt-click for drag-to-zoom</div>
    </div>
        <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Scatter Chart</h5>
            <canvas id="lineScatterChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/master/bitScry/Controllers/Projects/ChartController.cs" class="btn btn-primary">View Code</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-12">
        <div class="card-body">
            <h5 class="card-title">Radar Chart</h5>
            <canvas id="radarChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/master/bitScry/Controllers/Projects/ChartController.cs" class="btn btn-primary">View Code</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Floating Bar Chart</h5>
            <canvas id="floatingBarChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/master/bitScry/Controllers/Projects/ChartController.cs" class="btn btn-primary">View Code</a>
        </div>
    </div>
    <div class="card col-md-6">
        <div class="card-body">
            <h5 class="card-title">Pie Chart</h5>
            <canvas id="pieChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/master/bitScry/Controllers/Projects/ChartController.cs" class="btn btn-primary">View Code</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="card col-md-12">
        <div class="card-body">
            <h5 class="card-title">Live Line Chart</h5>
            <canvas id="liveLineChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/master/bitScry/Controllers/Projects/ChartController.cs" class="btn btn-primary">View Code</a>
        </div>
    </div>
    <div class="card col-md-12">
        <div class="card-body">
            <h5 class="card-title">Nested Doughnut Chart</h5>
            <canvas id="nestedDoughnutChart"></canvas>
            <a href="https://github.com/mattosaurus/bitScry/blob/master/bitScry/Controllers/Projects/ChartController.cs" class="btn btn-primary">View Code</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        &nbsp;
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        @Html.Raw(verticalBarChart.CreateChartCode("verticalBarChart"));
    </script>
    <script type="text/javascript">
        @Html.Raw(horizontalBarChart.CreateChartCode("horizontalBarChart"));
    </script>
    <script type="text/javascript">
        @Html.Raw(lineChart.CreateChartCode("lineChart"));
    </script>
    <script type="text/javascript">
        @Html.Raw(lineScatterChart.CreateChartCode("lineScatterChart"));
    </script>
    <script type="text/javascript">
        @Html.Raw(floatingBarChart.CreateChartCode("floatingBarChart"));
    </script>
   <script type="text/javascript">
        @Html.Raw(radarChart.CreateChartCode("radarChart"));
    </script>
    <script type="text/javascript">
        @Html.Raw(polarChart.CreateChartCode("polarChart"));
    </script>
    <script type="text/javascript">
        @Html.Raw(pieChart.CreateChartCode("pieChart"));
    </script>
    <script type="text/javascript">
        @Html.Raw(liveLineChart.CreateChartCode("liveLineChart"));

        setInterval(function () {
            // Rewrite the current dataset with random numbers
            for (var i = 0; i < liveLineChart.data.datasets[0].data.length; i++) {
                liveLineChart.data.datasets[0].data[i] = Math.floor(Math.random() * 100);
            }

            // Change color of dataset value
            let randNumbers = [Math.floor(Math.random() * 100), Math.floor(Math.random() * 100), Math.floor(Math.random() * 100)]
            liveLineChart.data.datasets[0].borderColor = "rgba(" + randNumbers[0] + "," + randNumbers[1] + "," + randNumbers[2] + ", 1)";
            liveLineChart.data.datasets[0].backgroundColor = "rgba(" + randNumbers[0] + "," + randNumbers[1] + "," + randNumbers[2] + ", 0.2)";

            liveLineChart.update();
        }, 1000);
    </script>
    <script type="text/javascript">
        @Html.Raw(nestedDoughnutChart.CreateChartCode("nestedDoughnutChart"));
    </script>
}